---
name: 'standard-structure'
---

doctype 5
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    title Pryv API standard data structure
    meta(name='description', content='TODO')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='github.css')
    link(rel='stylesheet', type='text/css', href='highlight.css')
    link(rel='stylesheet', type='text/css', href='style.css')
    script(src='scripts/modernizr.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
    script(src='scripts/jquery.toc.min.js')

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36589447-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    #main
      header#pageHeader
        a(href='index.html') Home

      #sections
        section#about
          h1 Standard data structure
          :markdown
            In this section, we present all the channels and folders we recommend to use in Pryv.
            Where appropriate, we also present fictional elements to illustrate how and where you
            could create your own channels and folders.

            We use the following conventions to describe the structure:

            - **Recommended** means that the concerned channel or folder is predefined and known
            to Pryv. Its `id` is reserved and can be used to access it. We advise you to use
            **recommended** channels and folders as much as possible, unless the specific needs of
            your app requires a dedicated channel/folder that doesn't correspond to any presented
            here.
            - **Example** is used to represent channels and folders that are given here as
            examples of elements you could create to fit your app's purposes. They are not
            predefined in Pryv and thus have no fixed `id`.

            **Warning: the event structure used in examples needs an update. Please refer to the [API
            reference](reference.html#data-structure-event) for up-to-date info in the meantime.**

        section#structure
          h1 Channels and folders
          p Recommended channels and folders are identified by their <code>id</code>.

          - // For iterating on and displaying subfolders.
          mixin iterateSubfolders(container, firstFolder)
            - each folder in container.folders
              // Prepend folder name with its path.
              - folder.name = container.name + '/' + folder.name
              tr
                td
                  - if (folder.id)
                    strong recommended
                  - else
                    strong example
                    - folder.id = ''
                - for (var propId in firstFolder)
                  - if (propId !== 'eventExamples' && propId !== 'folders')
                    td
                      - if (propId === 'id')
                        code= folder[propId]
                      - else
                        | !{folder[propId]}
              mixin iterateSubfolders(folder, firstFolder)

          - // Constant to know if a channel has some examples.
          - var noExamples = true

          - // For iterating and displaying examples.
          mixin displayExamples(container)
            - var examples = container.eventExamples
            - if (examples && examples.length)
              - noExamples = false
              div Events saved in !{container.name}
              - each example in examples
                - var exampleString = JSON.stringify(example, null, 4)
                pre= exampleString
            - var folders = container.folders
              - each folder in folders
                mixin displayExamples(folder)

          - var structureFiles = getCollection('standardStructureData').toJSON()
          - each structureFile in structureFiles
            - var content = JSON.parse(structureFile.body)
            - var version = content.version.version
            - var channels = content['channels']
            - each channel in channels
              .channel
                h2
                  - if (channel.id)
                    | <code>!{channel.id}</code> channel
                  - else
                    | "!{channel.name}" channel
                p.info
                  - if (channel.id)
                    | <strong>Recommended</strong> channel. Default name (EN): "!{channel.name}".
                  - else
                    | <strong>Example</strong> channel.
                    - channel.id = ''
                p.description= channel.description

                h3 Folders
                - if (channel.folders.length)
                  - var firstFolder = channel.folders[0]
                  table
                    thead
                      tr
                        th
                        - for (var propId in firstFolder)
                          - if (propId !== 'eventExamples' && propId !== 'folders')
                            th= propId
                    tbody
                      - each folder in channel.folders
                        tr
                          td
                            - if (folder.id)
                              strong recommended
                            - else
                              strong example
                              - folder.id = ''
                          - for (var propId in firstFolder)
                            - if (propId !== 'eventExamples' && propId !== 'folders')
                              td
                                - if (propId === 'id')
                                  code= folder[propId]
                                - else
                                  | !{folder[propId]}
                        mixin iterateSubfolders(folder, firstFolder)
                - else
                  div no folders in this channel for now.

              - // Make event examples visibility optional.
              h3
                a(onclick='javascript:$("#events-'+channel.id+'").toggle()') Examples of Events
              div(id='events-#{channel.id}', style='display:none;')
                - noExamples = true
                mixin displayExamples(channel)
                - if (noExamples)
                  |No examples for this channel.


    #toc
      //- content generated by TOC plugin (see below)

    script
      jQuery(document).ready(function($) {
        $('#toc').toc({
          'selectors': 'h1,h2',
          'container': '#sections',
          'smoothScrolling': false,
          'prefix': 'toc',
          'onHighlight': function(el) {},
          'highlightOnScroll': true,
          'highlightOffset': 100,
          'anchorName': function(i, heading, prefix) {
            return prefix+i;
          },
          'headerText': function(i, heading, $heading) {
            return $heading.text();
          }
        });
      });
